{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ]
  }
}